body{font-family: 'Redressed', cursive;}
h1{font-size: 50px;}

.name-highlight{color: orange;}

.half-width{
    widows: 40%;
    float: left;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{width: 80%;}

.section {height: 50;}

